<h2 class="title">REGISTRO DE USUÁRIO</h2>

<%- include('../components/message', { value: "" }) %>

<div class="center">
    <form id="form">
        <div class="form">
            <div class="form-column">
                <%- include('../components/input', { label: "Nome:" , type: "text" , value: "" , id: "nome" }) %>
                <%- include('../components/tipo-select') %>
                <%- include('../components/input', { label: "E-mail:" , type: "text" , value: "" , id: "email" }) %>
                <%- include('../components/input', { label: "Senha:" , type: "password" , value: "" , id: "senha" })%>
                <%- include('../components/input', { label: "Confirmar senha:" , type: "password" , value: "" ,
                id: "confirmarSenha" }) %>
            </div>
            
            <div class="submit">
                <button class="secondary">Registrar</button>
            </div>
        </div>
    </form>
</div>

<script>
    const form = document.getElementById("form");

    form.addEventListener("submit", (event) => {
        event.preventDefault();

        fetchRedirect(
            "/registro/criar", "POST", form, "/registros",
            {
                data: ["senha", "confirmarSenha"],
                message: "Erro. A senha não confere."
            }
        );
    });
</script>