<% if (body.table["status"]==200) { %>

    <div class="inicio">
        <div class="conteiner-1">
            <div class="box-1">
                <%- include("../components/saude-media", { table: body.table }) %>

                <div class="cont-1">
                    <%- include("../components/imc-media-graphic", { table: body.historico }) %>
                </div>

                
                <%- include("../components/imc-media-text", { table: body.table }) %>
                
            </div>
        
            <%- include("../components/imc-media", { table: body.table }) %>
        </div>
    </div>

<% } else { %>

    <div class="title">
        <h2>INÍCIO</h2>
    </div>

    <div class="center">
        <p id="message">
            <%= body.table["message"] %>
        </p>
    </div>

<% } %>